body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  color: #333;
}

header {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 30px 10px;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  object-fit: cover;
  margin-bottom: 10px;
}

main {
  padding: 20px;
}

.projetos h2 {
  color: #004080;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin-bottom: 10px;
  border-left: 5px solid #004080;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}

#lista-projetos a {
  text-decoration: none;
}

#lista-projetos a img {
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#lista-projetos a img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.img-arredondada {
  border-radius: 50px; /* ou 20%, ou 50% para circular */
}

.sobre {
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-left: 5px solid #004080;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.sobre h2 {
  color: #004080;
  margin-bottom: 10px;
}

.sobre p {
  line-height: 1.6;
  margin-bottom: 10px;
}
